.padding0{
    padding: 0px;
}

.height40{
    height: 40px;
}
.padding0 .table th, .table td{
    padding: 0px;
}
.width100{
    width: 100px !important;
}

.pleft10{
    padding-left: 10px !important;
}

.pleft15{
    padding-left: 15px !important;
}

.paramrow{
    padding: 0px;height: 40px;margin-bottom: 5px;
}